{% extends 'base.html' %} {% load static %} {% block content%}
<h1 class="text-center mt-5 text-warning-emphasis">About Salt Bae</h1>
<div class="d-flex justify-content-center flex-column w-50 mx-auto">
  <img src="{% static 'about.jpg'%}" alt="" class="img-fluid mx-auto rounded" />
  <p class="text-center fs-5 fw-medium pt-3">
    Nusr-Et Brand was awarded Star Diamond Award in 2014 by American Academy of
    Hospitality Sciences 5 Star Diamond Award given for the first time to a
    restaurant in Turkey.
  </p>
  <p class="text-center fs-5 fw-medium">
    By receiving the Star Diamond Award, which means to be internationally
    recognised brand that offers high quality standards, Nusr-Et proved its
    success in the international arena
  </p>
</div>
{% endblock%}
